DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/music_separator

TEST_DATABASE_URL=postgresql+asyncpg://postgres:postgres@postgres:5432/music_separator_test

RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
