# Env and deps
venv/

# Demucs files
outputs/
uploads/

# Demucs model
torch-cache/

# Confidential files
.env

# Logs
*.log
backend/logs/

# Pycashe
**/__pycache__/
*.py[cod]
.eslintcache

# Audofiles
*.mp3
*.flac
*.wav

# VScode settings
.vscode/
